In [ ]:
#conditional statements

In [ ]:
if condition1:
    task1 block of code
elif condition2:
    task2 block of code
elif condition3:
    task3 block of code
    . 
    .
    .
    .
elif condition n:
    task n
else:
    task4 block of code

In [3]:
t=6
if t%2==0:
    print("even")
else:
    print("odd")

even

In [5]:

t%2==0

True

In [7]:
x=-5.3
if x>0:
    print('pos')
elif x<0:
    print('neg')
else:
    print('zero')

neg

In [9]:
x=-5.3+5.3
if x>0:
    print('pos')
elif x<0:
    print('neg')
else:
    print('zero')

zero

In [11]:

x=15
if x>0:
    print('pos')
    if x>20:
        print('m')
    elif x>10:
        print('t')
    elif x<10:
        print('u')
    else:
        print('r')
elif x<0:
    print('neg')
    if x<-20:
        print('a')
    elif x>-10:
        print('f')
    elif x>-30:
        print('y')
else:
    print('zero')

pos
t

In [13]:
y=10
if y>5:
    print('r')
elif y>4:
    print('e')
elif y>7:
    print('w')
else:
    print('a')

r

In [15]:
x1='telangana'
x2='Tiger'
x3='Tan'
if x1>x2:
    print('x1')
elif x2>x3:
    print('x2')
else:
    print('x3')

x1

In [17]:
x='tiger'
if x[0]=='t'or x[0]=='T':
    print('yes')
else:
    print('no')

yes

In [19]:
x='telangana'
x='Tiger'
x='Tan'
if x[0]=='t' or x[0]=='T':
    print('yes')
    if x[0]=='t' or x[0]=='T':
        print('yes')
    else:
        print('no')
        if x[0]=='t' or x[0]=='T':
            print('yes')
        else:
            print('no')
else:
    print('no')

yes
yes

In [21]:
x='markapuram'
if x[0]=='e' or x[0]=='m':
    print('yes')
else:
    print('no')

yes

In [23]:
x='horse'
if x[0].lower() in ('r','h','t'):
    print('yes')
else:
    print('no')

yes

In [25]:
if x[0].lower() in ('f','h','r'):
    print('yes')
else:
    print('no')

yes